<div id="page_wrapper">
<h1>New Post</h1>
<%= form_for :post, url: posts_path do |f| %>
<% if @post.errors.any? %>
  <div id="errors">
  <h3><%=  pluralize(@post.errors.count, "errors")%> prevented this post from saving!</h3>
  <ul>
  <%= @post.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end%>
  </ul>
  </div>
<% end %>
<p>
<br>
    <%= f.label :title%>
    <br>
    <br>
    <%= f.text_field :title %>
</p>

<p>
    <br>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body %>
</p>

<p>
<br>
<%= f.submit%>
</p>
<% end %>
</div>